/**, html, body{
    padding: 0;
    margin: 0;
}*/
html{
    background-color: gray;
}

.body-content {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-color: floralwhite;*/
    position: relative;
    /*height: 100%;*/
    min-height: 98vh;
    z-index: 0;
}

    .body-content::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        Resources\imgs left: 0;
        background-image: url("../Resources/imgs/fondo_dos.jpg");
        width: 100%;
        height: 100%;
        opacity: 0.1;
        z-index: -1;
    }


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


h1 {
    margin: 0;
    color: whitesmoke;
}

.cuadricula {
    /*background-color: dimgray;*/
    /*border: 0.05rem solid;*/
    border-radius: 10px;
    color: whitesmoke;
    margin: 0.2rem 0;
    padding: 1rem 0;
}

.cuadricula:hover {
    transition-duration: 1s;
    background-color: lightslategray;
    
    /*font-size: 1.4 rem;*/
}

.cuadricula > h3 {
    color: Highlight;   
}

.cuadricula > div {
    text-align: center;
}

.info {
    margin-top: 3rem;
}

    .info > :nth-child(1) {
        text-align: center;
        /* z-index: 2;   */
    }

.btn-car {
    /* background-color: rebeccapurple; */
    color: rgb(106, 106, 112);
    padding: 0 4rem 1rem 4rem;
    font-weight: bold;
}

    .btn-car:hover {
        text-decoration: none;
        color: rgb(149, 190, 236);
    }

.card-body {
    padding: .5rem;
}

    .card-body:hover {
        background: rgba(149, 190, 236, 0.2);    
        border-radius: .5rem;
    }

dt.about{
    text-indent: 4rem;
    color: lightslategray;
}

    dt.about::first-letter{
        font-size: 3rem;
        line-height: 1rem;
    }

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}