@{
    ViewBag.Title = "Conoceme";
}
<div>
    <h4>@@litoos11</h4>
    <hr />
</div>

<div class="row">
    <div class="card info col-xs-12 col-sm-6">
        <p>
            <a class="btn-car" data-toggle="collapse" href="#collapseEscuela" role="button" aria-expanded="false" aria-controls="collapseEscuela">
                Estudios
            </a>
        </p>
        <div class="collapse" id="collapseEscuela">
            <div class="card card-body">
                @*<ul>
                    <li>Carrera</li>
                    <li>Escuela</li>
                    <li>Generación</li>
                </ul>*@
                <dl>
                    <dt class="about">Graduado de la carrera de Ing. Sistemas Computacionales (2011-2016) - Instituto Tecnologico Superior de Tierra Blanca.</dt>
                </dl>
                @*<ol>
                    <li></li>
                </ol>*@
                
            </div>
        </div>
    </div>

    <div class="card info col-xs-12 col-sm-6">
        <p>
            <a class="btn-car" data-toggle="collapse" href="#collapseExperiencia" role="button" aria-expanded="false" aria-controls="collapseExperiencia">
                Experiencia
            </a>
        </p>
        <div class="collapse" id="collapseExperiencia">
            <div class="card card-body">
                <dl>
                    <dt class="about">Practicas de residencias profecionales desarrollando punto de venta - Foto Contino de Veracruz S.A de C.V. </dt>
                    <ul>
                        <li>Microsoft Visual Studio 2015 v</li>
                        <li>C# .net</li>
                        <li>ADO.NET</li>
                        <li>Oracle 11g Data Base</li>
                        <li>MySQL</li>
                        <li>Frameword DevExpress</li>
                    </ul>
                </dl>
                <dl>
                    <dt class="about">Soporte Técnico - Foto Contino de Veracruz S.A de C.V.</dt>
                    <ul>
                        <li>Atención a usuarios</li>
                        <li>Administración del modulo de usuairos del sistema de crédito</li>
                        <li>Instalación y configuración de sistemas operativos Windows 8 y Ubuntu 16.10</li>
                    </ul>
                </dl>
                <dl>
                    <dt class="about">Analista Programador - Foto Contino de Veracruz S.A de C.V.</dt>
                    <ul>
                        <li>Actualización sistema de facturación electrónica a la v3.3</li>
                        <li>Actualización script en Perl para regeneración de archivos de texto plano</li>
                        <li>Actualización de sistema de pago electrónico</li>
                    </ul>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-3 col-sm-6 col-xs-3 cuadricula">
        @*<p>@Html.DisplayFor(modeli => i.Nombre)</p>   width="200px" height="200px"*@
        <div class="col-xs-12 text-center">
            <a href="https://github.com/" target="_blank"><img src="~/Resources/imgs/social/github_dos.png" alt="github" width="50%" height="50%" /></a>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-3 cuadricula">
        @*<p>@Html.DisplayFor(modeli => i.Nombre)</p>   width="200px" height="200px"*@
        <div class="col-xs-12 text-center">
            <a href="https://www.linkedin.com" target="_blank"><img src="~/Resources/imgs/social/linkedin_dos.png" alt="linkedin" width="50%" height="50%" /></a>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-3 cuadricula">
        @*<p>@Html.DisplayFor(modeli => i.Nombre)</p>*@
        <div class="col-xs-12 text-center">
            <a href="http://www.facebook.com" target="_blank"><img src="~/Resources/imgs/social/facebook_dos.png" alt="facebook" width="50%" height="50%" /></a>
        </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-3 cuadricula">
        @*<p>@Html.DisplayFor(modeli => i.Nombre)</p>*@
        <div class="col-xs-12 text-center">
            <a href="https://twitter.com/" target="_blank"><img src="~/Resources/imgs/social/twitter_dos.png" alt="facebook" width="50%" height="50%" /></a>
        </div>
    </div>

</div>